<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Home - Summer Boss Site </title>
</head>
<body>
    <header th:replace="components/header :: header('添加/编辑用户form')"></header>

    <form th:action="@{/user}" method="post" th:object="${userModel.user}">
        <input type="hidden" name="userId" th:value="*{userId}">

        <label> 名字:
            <input type="text" name="userName" th:value="*{userName}">
        </label>

        <label> 电话:
            <input type="text" name="mobile" th:value="*{mobile}">
        </label>

        <label> 性别:
            <input type="text" name="gender" th:value="*{gender}">
        </label>
        <br>
        <input type="submit" value="提交">
        <input type="reset" value="重置" />
    </form>
    <div th:insert="~{components/footer :: footer}"></div>
</body>
</html>